@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;800&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #08101EFF;
    color: #FFF;
    font-family: 'Open sans'sans-serif;
}

.container {
    width: 1200px;
    padding: 0 20px;
    margin: 0 auto;
    /* background-color: #3A68B8; */
}

.site-header {
    padding: 21px 0;
    background-color: #0A111FFF;
}

.row {
    display: flex;
}

.header-row {
    justify-content: space-between;
    align-items: center;
}

.logo-header {
    width: 283px;
    margin-right: 83px;
}

.site-nav {
    flex-grow: 1;
}

.nav-list {
    display: flex;
    list-style: none;
}

.nav-item:not(:last-child) {
    margin-right: 40px;
}

.nav-link {
    text-decoration: none;
    text-transform: capitalize;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    color: #FFFFFF;
    transition: 0.4s;
}

.site-sign {
    text-decoration: none;
    text-transform: capitalize;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    color: #FFFFFF;
    flex: none;
    order: 0;
    flex-grow: 0;
    padding: 15px 30px;
    background: #3A68B8;
    border-radius: 5px;
}

.content-row {
    align-items: center;
    justify-content: space-between;
    position: relative;
    padding: 49px 0;
}

.hero-desc {
    width: 50%;
}

.hero-title-top {

    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 160%;
    text-transform: uppercase;
    color: #3A68B8;
    margin-bottom: 10px;
}

.hero-title {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 800;
    font-size: 50px;
    line-height: 130%;
    color: #FFFFFF;
    margin-bottom: 40px;
}

.hero-text {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 160%;
    color: #FFFFFF;
    opacity: 0.7;
    margin-bottom: 50px;
    padding-right: 100px;
}

.btn-group a {
    position: relative;
    text-decoration: none;
    text-transform: capitalize;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 27px;
    padding: 15px 30px;
    margin-right: 20px;
    color: #FFFFFF;
    background: #3A68B8;
    border-radius: 5px;
}

.bx-play {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    font-size: 45px;
}

.btn-group a:last-child {
    padding-left: 50px;
}

.hero-img {
    width: 50%;
    height: 630px;
    position: relative;
    top: 0;
    left: 0;
}

.hero-img>img {
    width: 634px;
    position: absolute;
    top: 0;
    left: 30px;
}

/* SUPPORT */
.supports {
    padding: 52px 0;
}

.supports-list {
    display: flex;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
}

.supports-item {
    margin-right: 72px;
}

.supports-item:last-child {
    margin-left: 0;
}

/* Data section */
#data {
    padding: 130px 0;
    position: relative;
    background-color: #020A18FF;
}

.data-img {
    width: 50%;
    height: 669px;
    position: relative;
}

.data-img>img {
    width: 725px;
    height: 669px;
    position: absolute;
    top: 0;
    left: -180px;
}

.data-desc {
    width: 50%;
    height: 100%;
}

.data-title {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 130%;
    color: #FFFFFF;
    padding-top: 220px;
    padding-bottom: 30px;
}

.data-text {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 160%;
    color: #FFFFFF;
    opacity: 0.7;
    margin-bottom: 70px;
}
/* ///////////////////////////////////////// */
.slide-container{
    max-width: 1400px;
    width: 100%;
}
.slide-content{
    padding: 45px 20px;
    overflow:hidden;
    border-radius: 25px;
}
.card{
    width: 362px;
    height: 389px !important;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 25px;
    background-color:#101825FF;    
}
.image-content{
    position: relative;
}
.card-image{
    position: relative;
    height: 80px;
    width: 70;
    padding: 3px;
}
.card-image>.card-img{
     width: 73px;
    height: 100%;
    object-fit: cover;
}
.card-content{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items:center;
    padding: 10px 14px;
}
.name{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 125%;
    text-align: center;
    color: #FFFFFF;
    opacity: 0.7;
    padding-top: 30px;
}  

.description{
font-family: 'Open Sans';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 160%;
text-align: center;
color: #FFFFFF;
opacity: 0.7;
padding-top: 30px;
}